<h1>Welcome to Macosa, <%= @invitation.email %></h1>
  <p>
    You have received an invitation to sign up to Macosa,
    Follow this link to confirm your email:<br>
    <p>http://localhost:3000/api/v1/users/confirm_email?token=<%=@invitation.token%></p>
  </p>
<p>Thanks for joining and have a great day!</p>