<h3>Welcome to Macosa, <%= @invitation.email %></h3>
  <p>
    You have received an invitation to sign up to Macosa,
  </p>
  <p><a href="https://macosa-api.herokuapp.com/api/v1/users/confirm_email?token=<%=@invitation.token%>">Click here to confirm your email</a></p>
  <p>Use this code to validate your sign up request: </p> <h3><b><%=@invitation.access_token%></b></h3>
<p>If you have any problems with this email contact your administrator</p>
<span>Macosa is developed and maintained by Apotica</span>